services:
  monolith:
    container_name: monolith
    hostname: monolith
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - '8080:8080'
    env_file:
      - docker/.env
    depends_on:
      - postgres
    command: [ "./docker/wait-for.sh", "postgres:5432", "--", "air", "-c", ".air.toml" ]

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: foodyDB
    ports:
      - "5437:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate:v4.17.0
    depends_on:
      - postgres
    volumes:
      - ./accounts/migrations:/migrations
    entrypoint: [
      "migrate",
      "-path", "/migrations",
      "-database", "postgres://myuser:mypassword@postgres:5432/foodyDB?sslmode=disable",
      "up"
    ]
    restart: "on-failure"


volumes:
  pgdata:

